.game {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 80px;
  margin-left: 80px; */
}

.board-container {
  width: 60%;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .game {
    flex-direction: column;
  }
  .board-container {
    margin-bottom: 40px;
  }
  .history-container {
    margin-left: 60px;
    text-align: start;
  }
}
