.history-heading {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 14px;
}

.controlBtns {
  cursor: pointer;
  color: white;
  background-color: #4c3575;
  border: none;
  border-radius: 4px;
  height: max-content;
  font-style: oblique;
  font-size: larger;
}

.controlBtns:hover {
  background-color: white;
  color: #4c3575;
}
